.nav-bar {
  display: flex;
  color: white;
  background-color: black;
  height: 40px;
}

.header > h1{
  font-weight: 400;
  border: 0;
  padding: 0;
  bottom: 0;
  margin: 5px;
}
.body {
  height: 100%;
}
footer {
  position: absolute;
  width: 100%;
  height: 50px;
  background: black;
}
.icons {
  margin: 3px;
}

h2 {
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 3px;
}
.tab_title {  
  margin:0;
  padding: 8px 16px 8px 16px;
}

.home {
  display: flex;
  flex-wrap: wrap;
}
.ucsb-image {
  margin: 5px;
  max-width: 500px;
}
.home-text {
  margin: 5px;
  width: auto;
}

.about{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.profile-image {
  margin: 5px;
  max-width: 200px;
}
.profile-image > img {
  max-width: 100%;
}
.about-text {
  width: 100%;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

.resume-grid {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 10;
}
.resume-grid > .resume {
  display: flex;
  height: 300px;
  padding: 10px;
  
}
.resume-grid > .resume > .resume-pic {
  max-width: 200px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.resume-grid > .resume > .resume-title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .resume-grid > .resume > .resume-title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 100%;
    overflow: scroll;
  }
}

.projects-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-gap: 1rem;
  bottom: 0;
}

.projects-grid > .project-img {
  margin: auto;
}

.projects-grid > .project-img > img {
  max-width: 100%;
  cursor: pointer;
}

.movie-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 1rem;
  bottom: 0;
}
.movie-grid > .movie {
  margin: auto;
}

.movie-grid > .movie > img {
  max-width: 100%;
  cursor: pointer;
}


.guestbook {
  display: flex;
  width: 100%;
  background-color: grey;
}

.guestform {
  width: 50%;
}

.posts {
  width: 50%;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ccc;
  overflow: scroll;
  max-height: 550px;
}
li {
  color: white;
}
li > h6 {
  color: grey;
}
form {
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
}
input {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom: 1px solid grey;
  box-sizing:border-box;
  background-color: #ccc;
}

input[type=submit] {
  background-color: grey;
  color: white;
  border: none;
  margin: 3px;
}

#guestText {
  color: white;
  font-family: Verdana;
}